.pusher {
  padding-top: 40px;
}

#sidebar-menu__facebook-login {
  float: right;
  margin-right: 40px;
}

#sidebar-menu__link {
  text-align:right;
  padding-right: 40px;
}

#sidebar-menu__divider { 
  margin-right: 40px;
  height: 1px;
  border: 0;
  border-top: 2px solid #ccc;
  width: 12rem;
}
