html, body, {
  background-color: #1B1C1D !important;
}

body.pushable > .pusher {
  background-color: #1B1C1D !important;
}
 
.pusher {
  padding-top: 40px;
}

#sidebar-menu__facebook-login {
  float: right;
  margin-right: 40px;
}

#sidebar-menu__link {
  text-align:right;
  padding-right: 40px;
}

#sidebar-menu__divider { 
  height: 1px;
  border: 0;
  border-top: 2px solid #ccc;
  width: 13rem;
}

.ui.header, 
.ui.divider,
small, p,
label {
  color: rgba(255, 255, 255, 0.9) !important;
}

#home__how-to-win-image {
  float: right;
}

#registration__link {
  color: rgba(255, 171, 0, 0.94);
}

#home__information-segment{
  background: image-url("background.png");
  background-size: cover;
  border-bottom: 2px solid #e6c35b;
}
